
body{
    background: black;
    font-family: "Helvetica";
}
main{
  margin: 0 auto;
  padding: 2em;
  text-align: center;

}
main section article:nth-of-type(odd){
  background: red;
}
main section article:nth-of-type(even){
  background: white;
}

.loader{
  background: red;
}
.hide{
  display: none;
}
.show{
  display: block
}

h1{
	color: white;
}

button{
	background-color:red;
	color: white;
	border-color:red;
	padding: 1em;
   border-radius: 15px;
	margin-top:8em;
	font-size: 1.5em;
	font-weight: bold;
}